@font-face {
    font-family: "Eclipse";
    src: url("./assets/misc/EclipseFixed.otf");
}

.eclipse-background {
    padding-top: 2em;
    background-color: #232e40;
    color: white;
    --tile-size: min(10vh, 18vw);
    padding-bottom: 2em;
    min-height: 100vh;
    box-sizing: border-box;
}

.eclipse-title {
    font-family: "Eclipse";
    font-size: 2em;
}

.eclipse-tile {
    width: var(--tile-size);
    height: var(--tile-size);
    border-radius: 0.5vh;
    background-color: #53687d;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.eclipse-tile > img {
    width: var(--tile-size);
    height: var(--tile-size);
    border-radius: 0.5vh;
}

.eclipse-tile-clear {
    background-color: #433f3d;
    font-family: "Eclipse";
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eclipse-tile-x {
    font-size: calc(var(--tile-size) * 0.5);
}

.eclipse-mode-select {
    display: flex;
    gap: 4px;
    margin: 20px 4px;
    justify-content: center;
}

.eclipse-mode-select > div {
    flex: 1;
    max-width: 20vh;
    padding: 0.25em;
    border-radius: 0.5vh;
    color: white;
    cursor: pointer;
    user-select: none;
}

.eclipse-mode-select > div.eclipse-mode-selected {
    outline: 1px solid #eee;
}

.eclipse-mode-edit {
    background-color: forestgreen;
}

.eclipse-mode-battle {
    background-color: red;
}

.eclipse-tile-selected {
    outline: 2px solid red;
}

.eclipse-tile-hidden {
    background: none;
}

.eclipse-shipspec-npc-selected {
    -webkit-filter: drop-shadow(2px 2px 0 red)
                    drop-shadow(-2px 2px 0 red)
                    drop-shadow(2px -2px 0 red)
                    drop-shadow(-2px -2px 0 red);

    filter: drop-shadow(2px 2px 0 red)
            drop-shadow(-2px 2px 0 red)
            drop-shadow(2px -2px 0 red)
            drop-shadow(-2px -2px 0 red);
}

.eclipse-shipspec-title {
    font-family: "Eclipse";
    font-size: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
}

.eclipse-shipspec-subtitle {
    font-size: 0.5em;
}

.eclipse-shipspec-bonus-bottom {
    margin-bottom: -4em;
}

.eclipse-shipspec-bonus-top {
    width: var(--tile-size);
    height: var(--tile-size);
    position: absolute;
    top: 0;
}

.eclipse-tile-bonus {
    position: absolute;
}

.eclipse-tile-bonus-top {
    bottom: var(--tile-size);
    left: 0;
}

.eclipse-tile-bonus-bottom {
    top: var(--tile-size);
    left: 0;
}

.eclipse-tile-bonus-right {
    top: 0;
    left: var(--tile-size);
}

.eclipse-tile-bonus-left {
    top: 0;
    right: var(--tile-size);
}

.eclipse-tile-bonus-bottomleft {
    top: var(--tile-size);
    right: calc(var(--tile-size) / 2 + 2px);
}

.eclipse-tile-bonus-replace {
    top: 0;
    right: 0;
}

.eclipse-shipspec-cols {
    display: flex;
    gap: 4px;
}

.eclipse-shipspec-cols-npc {
    display: flex;
    gap: 2vh;
    justify-content: center;
}

.eclipse-shipspec-cols-npc > img {
    width: 40%;
    user-select: none;
    cursor: pointer;
}

.eclipse-shipspec-cols-container {
    display: flex;
    height: calc(3 * var(--tile-size));
    align-items: center;
    justify-content: center;
}

.eclipse-shipspec-column {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
}

.eclipse-shipspec-details {
    max-width: 60vw;
    font-size: 10px;
}

.eclipse-shipspec-interceptor > :nth-child(1) {
    padding-top: calc(0.8 * var(--tile-size));
}

.eclipse-shipspec-interceptor > :nth-child(3) {
    padding-top: calc(0.8 * var(--tile-size));;
}

.eclipse-shipspec-cruiser > :nth-child(1) {
    padding-top: calc(0.4 * var(--tile-size));;
}

.eclipse-shipspec-cruiser > :nth-child(3) {
    padding-top: calc(0.4 * var(--tile-size));;
}

.eclipse-shipspec-dreadnought > :nth-child(1) {
    padding-top: calc(0.4 * var(--tile-size));;
}

.eclipse-shipspec-dreadnought > :nth-child(4) {
    padding-top: calc(0.4 * var(--tile-size));;
}

.eclipse-shipspec-starbase > :nth-child(2) {
    padding-top: calc(0.5 * var(--tile-size));;
}

.eclipse-edit-layout {
    display: flex;
    flex-direction: column;
}

.eclipse-shipspecs {
    display: flex;
    flex-direction: column;
    min-width: 40vw;
}

.eclipse-shipspec-view {
    display: flex;
    align-items: center;
    height: calc(4 * var(--tile-size));;
}

.eclipse-shipspec-center {
    flex-grow: 1;
}

.eclipse-shipspec-warning {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    background-color: rgba(238, 64, 76, 0.5);
    border-radius: 0.5vh;
    outline: 2px solid #ee404c;
    padding: 0.5em;
    justify-content: center;
    gap: 0.5em;
}

.eclipse-shipspec-warning > img {
    width: 1.5em;
    height: 1.5em;
}

.eclipse-player-select {
    display: flex;
    gap: 1vh;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2px;
}

.eclipse-player-select-item {
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    background: rgba(238, 238, 238, 0.7);
    height: 6vh;
    border-radius: 0.5vh;
}

.eclipse-player-select-item-selected {
    outline: 3px solid #eee;
}

.eclipse-player-select-image {
    height: 6vh;
    width: 6vh;
}

.eclipse-arrow {
    height: 5vh;
    width: 5vh;
    max-width: 2em;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
}

.eclipse-arrow-left {
    text-align: right;
    padding-right: 1em;
}

.eclipse-arrow-right {
    padding-left: 1em;
    text-align: left;
}

.eclipse-arrow-disabled {
    color: #888;
}

.eclipse-tilelibrary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eclipse-tilelibrary h1 {
    font-size: 1.5em;
    margin: 0;
}

.eclipse-tilelibrary-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--tile-size) * 0.1);
}

.eclipse-tilelibrary-filters {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    margin: 1em 0;
}

.eclipse-tilelibrary-filter {
    display: flex;
    gap: 0.4em;
    align-items: center;
    background-color: #2c539b;
    padding: 0.2em 0.5em;
    border-radius: 0.5vh;
    user-select: none;
    cursor: pointer;
}

.eclipse-tilelibrary-filter-selected {
    background-color: #4480f0;
}

.eclipse-tilelibrary-filter > span {
    padding-bottom: 2px;
}

.eclipse-tilelibrary-filter > img {
    height: 1em;
    width: 1em;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.eclipse-battle-layout {
    display: flex;
    flex-direction: column;
}

.eclipse-battle-order-indicator {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    padding: 0 1em;
}

.eclipse-battle-order-indicator-bar {
    width: 60vw;
    height: 0.7em;
    background: linear-gradient(to right, white, black);
    border-radius: 0.5vh;
}

.eclipse-battle-shipzone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50vw;
}

.eclipse-battle-shipzone {
    background-color: black;
    height: 30vh;
    width: 100%; 
    margin: 2vh;
}

.eclipse-battle-race {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border: 2px solid black;
}

.eclipse-battle-race-buttons {
    display: flex;
    gap: 0.8em;
    max-width: 100%;
    flex-wrap: wrap;
}

.eclipse-battle-race-shiptype {
    display: flex;
    gap: 0.2em;
    align-items: center;
    justify-content: center;
    margin-top: 0.4em;
}

.eclipse-battle-race-shiptype:nth-child(2) {
    margin-top: 1em;
}

.eclipse-battle-race-shiptype-text {
    width: 7em;
}

.eclipse-battle-actionbutton {
    cursor: pointer;
    user-select: none;
    background-color: #860786;
    color: #fef;
    border-radius: 0.5vh;
    width: max-content;
    padding: 0.25em 1.5em;
    margin-bottom: 2vh;
}

.eclipse-battle-race-quantitychange {
    font-size: 2em;
    border: 2px solid black;
    cursor: pointer;
    user-select: none;
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: 0.8em;
    background-color: #888;
}

.eclipse-battle-race-quantitychange.disabled {
    background-color: #333;
}

.eclipse-battle-selectships {
    flex: 1;
}

.eclipse-battle-display {
    color: white;
    display: flex;
    height: 100%;
    align-items: center;
}

.eclipse-battle-buttons {
    display: flex;
    gap: 1em;
}

.eclipse-battle-display-clear {
    cursor: pointer;
    user-select: none;
    background-color: #830810;
    color: #fef;
    border-radius: 0.5vh;
    width: max-content;
    padding: 0.25em 1.5em;
    margin-bottom: 2vh;
    flex: 1;
}

.eclipse-battle-display-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 97%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

.eclipse-battle-display-ship-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 8vh;
}

.eclipse-battle-display-ship {
    height: 10vh;
    width: 10vh;
    margin: -3vh 0;
}

.eclipse-battle-display-ship-interceptor {
    margin: -3.5vh 0;
}

.eclipse-battle-display-ship-dreadnought {
    margin: -2vh 0;
}

.eclipse-battle-display .eclipse-battle-display-ship:nth-child(odd) {
    padding-left: 3vh;
}

.eclipse-battle-display .eclipse-battle-display-ship:nth-child(even) {
    padding-right: 3vh;
}

.eclipse-battle-results-individual-card .eclipse-battle-display-ship {
    margin: -3vh -2vh;
}

.eclipse-battle-results-individual-card .eclipse-battle-display-ship.eclipse-battle-display-ship-interceptor {
    margin: -3vh -3vh;
}

.eclipse-battle-results-individual-card .eclipse-battle-display-ship.eclipse-battle-display-ship-dreadnought {
    margin: -3vh -1vh;
}

.eclipse-battle-results-individual-card .eclipse-battle-display-ship:nth-child(even) {
    padding-bottom: 1vh;
}

.eclipse-battle-results-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5em;
}

.eclipse-battle-results-overview-bar {
    width: 90%;
    height: 1.5em;
    display: flex;
}

.eclipse-battle-results-overview-bar-part {
    position: relative;
}

.eclipse-battle-results-overview-bar-race {
    position: absolute;
    top: 1.5em;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.eclipse-battle-results-individual {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eclipse-battle-results-individual-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    border: 1px solid black;
    border-radius: 0.5vh;
    width: 80%;
    padding: 0.5em 1em;
}

.eclipse-battle-results-individual-card-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.eclipse-battle-results-waiting {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    display: inline-block;
    border-top: 1vh solid #000;
    border-right: 1vh solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.eclipse-battle-results {
    flex: 1;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

@media screen and (min-width: 1025px) {
    .eclipse-edit-layout {
        flex-direction: row;
        padding: 0 10vw;
    }
    .eclipse-battle-layout {
        flex-direction: row;
        padding: 0 10vw;
    }
    .eclipse-battle-shipzone-container {
        width: 50vw;
    }
}